@import '../../styles/variables';

.gridBoard {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 18px;
  padding: 10px;
  box-sizing: border-box;
  width: 360px;
  height: 545px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1.5px solid #4682b4;
  border-radius: 6px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;

  &.selected {
    background-color: rgba(0, 120, 255, 0.05);
    border-color: #385f82; // slightly darker border
    box-shadow: inset 0 0 0 1px rgba(0, 120, 255, 0.1);

    &[id='set1'] {
      background-color: $color-set1;
    }
    &[id='set2'] {
      background-color: $color-set2;
    }
    &[id='set3'] {
      background-color: $color-set3;
    }
    &[id='set4'] {
      background-color: $color-set4;
    }
  }
  &.hintRow {
    // background: linear-gradient(to left, #f0f8ff, #e6f3ff);
    // background-color: #4682b4;
    // color: white;
    // height: 60px; // Or whatever height feels right
    width: 50%;
    margin: 0 auto;
    border: none;
    border-radius: 0;
    border-bottom: 1.5px solid #4682b4;
    // Optional: add some bottom margin to create more separation
    margin-bottom: 10px;
  }

  .hintPrefix {
    color: #4682b4;

    font-size: 1.1rem;
    margin-right: 8px;
  }

  .submitBtn {
    margin-top: 10px;
    width: 50%;
    // margin: 0 auto;
  }
}

// .row.hintRow {
//   background-color: #f0f8ff;
//   border: 2px dashed #4682b4;
//   font-size: 1.75rem;
//   cursor: default;
//   padding: 8px;
// }
