@import '../../styles/variables';

@function rem($pixels) {
  @return ($pixels / 16) + rem;
}

.card {
  position: relative;
  overflow: visible;
}

.icon {
  position: absolute;
  top: rem(-30);
  left: 50%;
  transform: translateX(-50%); // this is a better way to center horizontally
  z-index: 1;
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  line-height: 1;
}

.shareDiv {
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  border: 1.5px solid #4682b4;
  border-radius: 6px;
  width: 50%;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;

  &[id='1'] {
    background-color: $color-set1;
  }
  &[id='2'] {
    background-color: $color-set2;
  }
  &[id='3'] {
    background-color: $color-set3;
  }
  &[id='4'] {
    background-color: $color-set4;
  }
  &[id='5'] {
    background-color: red;
  }
}

.shareContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 18px;
  margin-top: 16px;
  box-sizing: border-box;
  width: 270px;
  height: 55px;
}

.shareSquares {
  border: 1.5px solid;
  border-radius: 6px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative; /* Add this to position the X relative to the square */

  &.right {
    background-color: aquamarine;
  }

  &.wrong {
    background-color: #ff8d9f;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background-color: black;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.shareResultsBtn {
  margin: 40px auto;

  border: 1.5px solid #4682b4;
  color: black;
  font-size: 0.9rem;
}
